@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #000;
}

#page video{
    position: absolute;
    width: 80%;
    height: 100%;    
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 90px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #000000c0;
    z-index: 10;
}

#navbar #top{
    width: 60vw;
    height: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 5px 0px;
    /* background: red; */
}

#navbar #top img{
    width: 1.5%;
}

#navbar #top ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar #top ul li{
    list-style: none;
    margin-left: 40px;
}

#navbar #top ul li a{
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    transition: all .5s ease;
}

#navbar #top ul li a:hover{
    color: #cfcfcf;
}

#navbar #top ul li a i{
    font-size: 15px;
}

#navbar #bottom{
    width: 60vw;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #bottom #left h1{
    font-size: 21px;
    font-weight: 900;
    padding: 0px 60px;
    color: #fff;
    cursor:pointer;
}

#navbar #bottom #right{
    padding-right: 60px;
}

#navbar #bottom #right #anc1{
    color: #999999;
}

#navbar #bottom #right a{
    text-decoration: none;
    font-size: 12px;
    margin-left: 30px;
    color: #fff;
}

#navbar #bottom #right a:hover{
    color:#1478dd;
}

#navbar #bottom #right button{
    margin-left: 30px;
    cursor: pointer;
}

#navbar #bottom #right #btn1{
    background: transparent;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 12px;
    border: 1px solid #fff;
}

#navbar #bottom #right #btn1:hover{
    background: #fff;
    color: #000;
}

#navbar #bottom #right #btn2{
    background: #0071e3;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 5px 15px;
    font-size: 12px;
}

#navbar #bottom #right #btn2:hover{
    background: #1478dd;
}

#page #page-bottom{
    position: absolute;
    width: 25%;
    height: 20%;
    /* background: green; */
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#page #page-bottom #page-bottom-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page #page-bottom #page-bottom-text a{
    color: rgb(255, 90, 0);
    margin-top: 15px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

#page #page-bottom #page-bottom-text a:hover{
    text-decoration: underline;
}

#page #page-bottom #page-bottom-text i{
    margin-top: 22px;
    color: rgb(255, 90, 0);
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-align:center;
}

#page1, #page2, #page3, #page4{
    position: relative;
    width: 100vw;
    max-height: 100vh;
    background: #fff;
    z-index: 9;
}

#page1 p, #page2 p, #page3 p, #page4 p{
    position: absolute;
    bottom:20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}

#page1 video, #page2 video, #page3 video, #page4 video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#page1::before, #page2::before, #page3::before, #page4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5 #page5-upper{
    height: 30%;
    width: 35%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

#page5 #page5-upper img{
    filter: invert();
    position: absolute;
    top: 5%;   
}

#page5 #page5-upper #page5-upper-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 40%;
    padding: 0px 10px;
}

#page5 #page5-upper #page5-upper-content a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 90, 0);
    font-weight: 700;
}

#page5 #page5-upper #page5-upper-content a:hover{
    text-decoration: underline;
}

#page5 #page5-upper #page5-upper-content i{
    font-size: 20px;
    color: rgb(255, 90, 0);
    cursor: pointer;
}

#page5 img{
    width: 70%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page5 button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
    border-radius: 50px;
    padding: 15px 25px;
    border: 2px solid #000;
    background: transparent;
    transition: all .5s ease;
    cursor: pointer;
}

#page5 button:hover{
    color: #fff;
    background: #000;
}

#page5 button i {
    font-size: 20px;
    font-weight: 700;
}

#page6{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page6 #page6-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page6 h2{
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}

#page6 p{
    font-size: 80px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}

#page6 video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#page6::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}

#page7{
    position: relative;
    width: 100vw;
    height: 60vh;
    background: #fff;
}

#page7 #page7-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 0px 0px;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 70%;
    /* background: green; */
    gap: 80px;
}

#page7 #page7-text h3{
    color: #000;
    font-size: 32px;
    width: 20%;
    font-weight: 900;
}

#page7 #page7-text p{
    width: 40%;
    font-size: 21px;
    color: rgb(134, 134, 139);
    font-weight: 700;
    line-height: 29px;
}

#page7 button{
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: #fff;
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
    background: #ff5a00;
    cursor: pointer;
}

#page7 button:hover{
    background:#ff6a19;
}

#page7 button i {
    font-size: 20px;
    font-weight: 700;
}

#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page8 #page8-text{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#page8 h2{
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}

#page8 p{
    font-size: 80px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}

#page8 video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

#page8::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
}

#page9{
    position: relative;
    width: 100vw;
    height: 60vh;
    background: #fff;
}

#page9 #page9-text{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 80px 0px 0px;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 70%;
    /* background: green; */
    gap: 80px;
}

#page9 #page9-text h3{
    color: #000;
    font-size: 32px;
    width: 30%;
    font-weight: 900;
}

#page9 #page9-text p{
    width: 40%;
    font-size: 21px;
    color: rgb(134, 134, 139);
    font-weight: 700;
    line-height: 29px;
}

#page9 button{
    position: absolute;
    top: 70%;
    left: 57%;
    transform: translate(-50%, -50%);
    font-size: 19px;
    color: #fff;
    border-radius: 50px;
    padding: 15px 25px;
    border: none;
    background: #ff5a00;
    cursor: pointer;
}

#page9 button:hover{
    background:#ff6a19;
}

#page9 button i {
    font-size: 20px;
    font-weight: 700;
}